<?xml version="1.0"?>

<config>
    <modules>
        <Paylike_Paymentgateway>
            <version>1.0.0</version>
        </Paylike_Paymentgateway>
    </modules>

    <global>
        <fieldsets>
            <sales_convert_quote_payment>
                <paylike_transaction_id>
                    <to_order_payment>*</to_order_payment>
                </paylike_transaction_id>
            </sales_convert_quote_payment>

            <sales_convert_order_payment>
                <paylike_transaction_id>
                    <to_quote_payment>*</to_quote_payment>
                </paylike_transaction_id>
            </sales_convert_order_payment>
        </fieldsets>

        <helpers>
            <paymentgateway>
                <class>Paylike_Paymentgateway_Helper</class>
            </paymentgateway>
        </helpers>

        <blocks>
            <paymentgateway>
                <class>Paylike_Paymentgateway_Block</class>
            </paymentgateway>
        </blocks>

        <models>
            <paymentgateway>
                <class>Paylike_Paymentgateway_Model</class>
                <resourceModel>paymentgateway_resource</resourceModel>
            </paymentgateway>
            <paymentgateway_resource>
                <class>Paylike_Paymentgateway_Model_Resource</class>
                <entities>
                    <paylikeadmin>
                        <table>paylike_admin</table>
                    </paylikeadmin>
                    <paylikelogos>
                        <table>paylike_logos</table>
                    </paylikelogos>
                </entities>
            </paymentgateway_resource>
        </models>

        <resources>
            <paymentgateway_setup>
                <setup>
                    <module>Paylike_Paymentgateway</module>
                    <class>Paylike_Paymentgateway_Model_Resource_Mysql4_Setup</class>
                </setup>
            </paymentgateway_setup>
            <connection>
                <use>core_setup</use>
            </connection>
        </resources>
    </global>

    <default>
        <payment>
            <paymentgateway>
                <active>1</active>
                <model>paymentgateway/paymentgateway</model>
                <title>Credit card</title>
                <payment_logo>visa.svg</payment_logo>
                <description>Secure payment with credit card via © Paylike</description>
                <pop_up_title></pop_up_title>
                <show_pop_up_description>0</show_pop_up_description>
                <pop_up_description></pop_up_description>
                <payment_mode>test</payment_mode>
                <payment_action>authorize</payment_action>
                <order_status>processing</order_status>
                <status>1</status>
            </paymentgateway>
        </payment>
    </default>

    <frontend>
        <routers>
            <paymentgateway>
                <use>standard</use>
                <args>
                    <module>Paylike_Paymentgateway</module>
                    <frontName>paymentgateway</frontName>
                </args>
            </paymentgateway>
        </routers>

        <layout>
            <updates>
                <paymentgateway>
                    <file>paymentgateway.xml</file>
                </paymentgateway>
            </updates>
        </layout>

        <translate>
            <modules>
                <paymentgateway>
                    <files>
                        <default>Paylike_Paymentgateway.csv</default>
                    </files>
                </paymentgateway>
            </modules>
        </translate>
    </frontend>

    <adminhtml>
        <layout>
            <updates>
                <paymentgateway>
                    <file>paymentgateway.xml</file>
                </paymentgateway>
            </updates>
        </layout>

        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <paymentgateway_custom_order_view_info>
                        <class>Paylike_Paymentgateway_Model_Observer</class>
                        <method>getSalesOrderViewInfo</method>
                    </paymentgateway_custom_order_view_info>
                </observers>
            </core_block_abstract_to_html_after>
        </events>

        <translate>
            <modules>
                <paymentgateway>
                    <files>
                        <default>Paylike_Paymentgateway.csv</default>
                    </files>
                </paymentgateway>
            </modules>
        </translate>
    </adminhtml>

</config>
