<?xml version="1.0"?>
<config>
    <modules>
        <Paylike_Paymentmethod>
            <version>1.0.0</version>
        </Paylike_Paymentmethod>
    </modules>

    <global>
        <fieldsets>
            <sales_convert_quote_payment>
                <paylike_transaction_id>
                    <to_order_payment>*</to_order_payment>
                </paylike_transaction_id>
            </sales_convert_quote_payment>
            <sales_convert_order_payment>
                <paylike_transaction_id>
                    <to_quote_payment>*</to_quote_payment>
                </paylike_transaction_id>
            </sales_convert_order_payment>
        </fieldsets>
        <helpers>
            <paymentmethod>
                <class>Paylike_Paymentmethod_Helper</class>
            </paymentmethod>
        </helpers>
        <blocks>
            <paymentmethod>
                <class>Paylike_Paymentmethod_Block</class>
            </paymentmethod>
        </blocks>
        <models>
            <paymentmethod>
                <class>Paylike_Paymentmethod_Model</class>
            </paymentmethod>
        </models>
        <resources>
            <paymentmethod_setup>
                <setup>
                    <module>Paylike_Paymentmethod</module>
                </setup>
            </paymentmethod_setup>
        </resources>
    </global>
    <default>
        <payment>
            <paymentmethod>
                <active>1</active>
                <model>paymentmethod/paymentmethod</model>
                <order_status>processing</order_status>
                <title>Paylike Payment Method</title>
                <allowspecific>0</allowspecific>
                <payment_action>authorize_capture</payment_action>
            </paymentmethod>
        </payment>
    </default>
    <frontend>
        <routers>
            <paymentmethod>
                <use>standard</use>
                <args>
                    <module>Paylike_Paymentmethod</module>
                    <frontName>paymentmethod</frontName>
                </args>
            </paymentmethod>
        </routers>
        <layout>
            <updates>
                <paymentmethod>
                    <file>paymentmethod.xml</file>
                </paymentmethod>
            </updates>
        </layout>
        <translate>
                <modules>
                    <paymentmethod>
                        <files>
                            <default>Paylike.csv</default>
                        </files>
                    </paymentmethod>
                </modules>
            </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <paymentmethod>
                    <files>
                        <default>Paylike_Paymentmethod.csv</default>
                    </files>
                </paymentmethod>
            </modules>
        </translate>
    </adminhtml>
</config>